{% load static %}
<header>
  <h1>Détection de Produits Suspects</h1>
  <nav>
    <a href="{% url 'home' %}">🏠 Accueil</a>
    {% if user.is_authenticated %}
      {% if user.role == 'admin' %}
        <a href="{% url 'admin_dashboard' %}">Tableau admin</a>
      {% elif user.role == 'analyst' %}
        <a href="{% url 'annotation_dashboard' %}">Annotation</a>
        <a href="{% url 'historique_annotations' %}">📂 Historique</a>
      {% endif %}
      <form method="POST" action="{% url 'logout' %}" style="display: inline;">
        {% csrf_token %}
        <button type="submit">
          Se déconnecter
        </button>
      </form>
    {% else %}
      <a href="{% url 'login' %}">Connexion</a>
    {% endif %}
  </nav>
</header>
